/*----------
 
----------*/
:root{
  --text-color:rgba(242, 242, 242, 0.8) ;
  --font-family:"Helvetica", "Times New Roman", "Times", "sans-serif";
}
body {
  background: linear-gradient(340deg, rgb(10, 10, 10) 30%, rgba(1, 90, 150, 0.952));
  background-size: auto;
  background-repeat: no-repeat;
  font-size: 100%;
  
}

#projects{
  outline:red solid 1px;
  color: var(--text-color);
  display: block;
  margin: auto;
  padding: 1px;
  font-size: 3.0em;
  font-family: var(--font-family);
  text-align: center;
  
}

/*color effects for the bottom page links*/

a:link{
  color:rgb(34, 96, 179);
}
a:visited{
  color:rgb(102, 161, 238);
}
a:hover{
  color:rgb(105, 198, 241);
}
/*----------background--------*/

.img{
  outline: red solid 1px;
  display: block;
  margin: auto;
  border-radius: 50%;
  width: 75%;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%; 
}

#mountain-centering{
  float: left ;
}


/*-----arounthemountain-----*/

.header{
  outline: red solid 1px;
  display: inline;
  background-color: transparent ;
  position: absolute;
  top: 4rem; left: 10rem; right: 10rem;
  -webkit-font-smoothing: antialiased;
  padding: auto;
  block-size: auto;
  text-align: center;
  margin: 10px;
  text-shadow: 2px 4px rgb(178, 208, 245);
  font-size: 6.0rem;
  color: var(--text-color);
  font-family: var(--font-family) ;
}
/*-------digital portfolio-------*/

#sub-head{
  outline: red solid 1px;
  display: inline;
  position:absolute;
  top: 11rem; right: 20rem; left: 20rem;
  -webkit-font-smoothing: antialiased;
  padding: auto;
  margin: 10px;
  writing-mode: horizontal-tb;
  background-color:transparent;
  text-align:center;
  font-size: 2.0rem;
  color: var(--text-color);
  font-family: var(--font-family) ;

}


/*----------projects----------*/


#work-container{
  display: flex ;
  outline: red solid 1px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  

}

#work-link{
  outline: red solid 1px;
  background-color: #000;
  font-size: 1.8rem;
  color: var(--text-color);
  font-family: var(--font-family);
  border-style: inset;
  border-radius: 3.5em;
  border-color: rgb(36, 58, 105);
  margin: 1em;
  padding: 1em;
  animation-name: colorful;
  animation-iteration-count: infinite;
  animation-duration: 4s;
}
 #work-link:hover{
   transform: scale(1.05);
 }

@keyframes colorful{
  0%{
    background-color: rgb(10, 10, 10);
  }
  50%{
    background-color: rgb(35, 35, 35);
  }
  100%{
    background-color: rgb(10, 10, 10);
  }
}

#lyrics{
  outline: red solid 1px;
  display: block;
  position: relative;
  box-sizing: content-box;
  color: var(--text-color);
  font-family: var(--font-family);
  text-align: center;
  font-size: 2.5rem;
  margin:auto;
  padding: auto;
}

#about{
  outline: red solid 1px;
  color: var(--text-color);
  font-family: var(--font-family);
  text-align: center;
  font-size: 1.5rem;
  padding: 5%;
}
/*--My Github--*/
#link-container{
  outline: red solid 1px;
  box-sizing: content-box;
  display: block;
  padding: auto;
  margin:auto;
  text-align: center;
  font-size: 2.5em;
  width: 50%;

}
#link-container:hover{
  transform: scale(1.05);
}

#copy{
  color: var(--text-color);
}