/*----------
 
----------*/
:root{
  --text-color:rgba(242, 242, 242, 0.7) ;
}
body {
  background-color:#000;
  font-size: 100%;
  
}

.projects{
  color: var(--text-color);
  display: block;
  margin: auto;
  padding: 10px;
  font-size: 2.5em;
  font-family:"Helvetica", "Times New Roman", "Times", "sans-serif";
  text-align: center;
  
}

/*color effects for the bottom page links*/

a:link{
  color:rgb(34, 96, 179);
}
a:visited{
  color:rgb(102, 161, 238);
}
a:hover{
  color:rgb(105, 198, 241);
}
/*----------background--------*/

.mountain{
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  max-height: 960px;
  
}

.shadow::after{
  content:'';
  background-size: cover;
  background-repeat: no-repeat;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  max-height: 960px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255,0.0)50%,rgba(0, 0, 0,1.0));
  
}
/*-----arounthemountain-----*/

.header{
  display: inline;
  background-color: transparent ;
  position: absolute;
  top: 4rem; left: 10rem; right: 10rem;
  -webkit-font-smoothing: antialiased;
  padding: auto;
  block-size: auto;
  text-align: center;
  margin: 10px;
  text-shadow: 2px 4px rgb(178, 208, 245);
  font-size: 6.0rem;
  color: var(--text-color);
  font-family: "Helvetica","Lucida Handwriting" ,"Verdana", "sans-serif" ;
}
/*-------digital portfolio-------*/

.sub-head{
  display: inline;
  position:absolute;
  top: 11rem; right: 20rem; left: 20rem;
  -webkit-font-smoothing: antialiased;
  padding: auto;
  margin: 10px;
  writing-mode: horizontal-tb;
  background-color:transparent;
  text-align:center;
  font-size: 2.0rem;
  color: var(--text-color);
  font-family:"Helvetica","Lucida Handwriting" ,"Verdana", "sans-serif" ;

}


/*----------projects----------*/

#link{
  color: var(--text-color);
}
#work-container{
  display: inline-flex;
}
#boxLink{
  background-color:rgba(28, 28, 29, 0.3);
  flex-direction: row;
  font-size: 1.8rem;
  border-style: inset;
  border-radius: 3.5em;
  border-color: rgb(32, 24, 23);
  padding: 2em;
  margin: 2em;
  
}

#link-container{
  display: flex;
  justify-content: center;
  font-size: 2.5em;
  size: 20em;

}
