/*--No Bootstrap. 
desktop: 1200px
laptop: 1024px
tablet: 768px
phone: 480px--*/

@media all and (max-width: 1215px){
  .img{
    display: block;
    width: fit-content;
  }
  
  .header{
    font-size: 4.5em;
    position:absolute;
    top: 3rem; right: 10rem; left: 10rem;
  }

  .sub-head{
    font-size: 1.5rem;
    position: absolute;
    top: 8rem; right: 10rem; left: 12rem;
  }
}
#work-container{
  display: inline-flex;
}


@media all and (max-width: 1024px){
  .img{
    width: 100%;

  }
  .header{
    font-size: 4.0em;
    position:absolute;
    top: 3rem; right: 10rem; left: 10rem;
  }
  .sub-head{
    font-size: 1.75rem;
    position: absolute;
    top: 7rem; right: 10rem; left: 10rem;
  }
}

@media all and (max-width: 768px){
  .header{
    font-size: 3.0rem;
    position: absolute;
    top: 2rem; right: 10rem; left: 10rem;
  }

  .sub-head{
    font-size: 1.55rem;
    position: absolute;
    top: 6rem; right: 10rem; left: 10rem;
  }


}

/*
@media all and (max-width: 480px){
  body{
    background-image:url("images/pexels-pixabay-m.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    max-height: fit-content;
  }
  
/* 
  .projects{
    display: block;
    position: relative;
    font-size: 2.0rem;
    text-align: center;
  }
  .img{
    display: none;
  }
  .icons{
    position: fixed;
    bottom: 20px;

  }
  #boxLink{
    position: relative;
    display: flex;
    flex-direction: column;
  }
}

*/