/*--From Bootstrap. 
desktop: 1200px
laptop: 1024px
tablet: 768px
phone: 480px--*/

@media all and (max-width: 1215px){
  .img{
    display: block;
    width: fit-content;
  }
  
  h1{
    font-size: 4.5rem;
    position:absolute;
    margin-left:auto;
    margin-right: auto;
    top: 3rem;
  }

  h2{
    font-size: 1.5rem;
    position: absolute;
    margin-left:auto;
    margin-right: auto;
    top: 8rem;
  }
}



@media all and (max-width: 1024px){
  .img{
    width: 100%;

  }
  h1{
    font-size: 3.0em;
    position:absolute;
    top: 3rem; right: 10rem; left: 10rem;
  }
  h2{
    font-size: 1.2rem;
    position: absolute;
    top: 7rem; right: 10rem; left: 10rem;
  }

  p{
    font-size: 1.5rem;
  }

  #lyrics{
    font-size: 1.6rem;  
  }




}

@media all and (max-width: 768px){
  h1{
    display: block;
    font-size: 2.4rem;
    position: absolute;
    margin-left:auto;
    margin-right: auto;
    top: 2rem; 
  }

  h2{
    font-size: 1.0rem;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 6rem; 
  }

  #lyrics{
    font-size: 1.6rem;
  }
  #work-container{
    width: auto;
  }
  #work-link{
    font-size: 1.3rem;
    width: auto;
  }
  #projects{
    font-size: 1.5rem;
  }
}

@media all and (max-width: 675px){
  h1{
    font-size: 2.0rem;

  }
}

@media all and (max-width: 480px){
  body{
    background-image:url("images/pexels-pixabay-m.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    max-height: fit-content;
  }
  .img{
    display: none;
  }
  h1{
    display: block;
    padding: 5px;
    color:white;
    font-size: 2.5rem;
    position: absolute;
    margin-left:auto;
    margin-right: auto;
    top: 1rem; 
  }

  h2{
    display: inline;
    padding: auto;
    font-size: 1.0rem;
    color: white;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 6rem; 
  }
  #lyrics{
    display: block;
    padding: auto;
    position: relative;
    color: white;
  }
  #about{
    display: block;
    padding: auto;
    color: white;
    position: relative;
  }
  
  #work-container{
    width: auto;
  }
  #work-link{
    font-size: 1.3rem;
    width: auto;
  }
  #projects{
    display: block;
    color: white;
    position: relative;
    font-size: 2.0rem;
    text-align: center;
  }
  
  .icons{
    position: fixed;
    bottom: 20px;

  }
  #boxLink{
    position: relative;
    display: flex;
    flex-direction: column;
  }
}

